header {
  height: 60px;
  padding: 0 30px;
  background-color: #1d2124;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img {
  width: 20px;
}

button {
  display: flex;
  align-items: center;
  border: 0px;
}

.label {
  width: 100%;
  text-align: center;
}

::ng-deep .dropdown-menu {
  min-width: 80px; // Adjust the desired width according to your needs
}
